*.pyc
*~
tests/*.dat
*.swp
*.o
*.so
deprecated/
*.pyf
*.eps
*.out
output*
setting/local*.py
*.aux
*.log
*.synctex.gz
*.npy
core.*
*.dvi
*.log
*data/
*build/
run.py
*.gif
dist/
zte_noui/*.c
zte_noui/*.cpp
*.spec
*.png
